<div class="flex flex-col items-center">
  <div class="p-6 my-2 rounded-lg shadow-lg bg-gray-100 w-fit">
    <h2 class="text-2xl text-center mb-4">Formulario de estudiante</h2>

    <form [formGroup]="formularioEstudiante" ngNativeValidate  (ngSubmit)="onSubmit()" class="flex flex-col space-y-3">
      <label class="mb-2 flex flex-col">
        <span>Nombre:</span>
        <input type="text"
          formControlName="nombre"
          class="px-3 py-1 bg-white border border-solid border-gray-300"
          required
        >
      </label>
      <label class="mb-2 flex flex-col">
        <span>Apellido:</span>
        <input type="text"
          formControlName="apellido"
          class="px-3 py-1 bg-white border border-solid border-gray-300"
          required
        >
      </label>
      <label class="mb-2 flex flex-col">
        <span>Edad:</span>
        <input type="number"
          formControlName="edad"
          min="1"
          max="99"
          class="px-3 py-1 bg-white border border-solid border-gray-300"
          
        >
      </label>
      <label class="mb-2 flex flex-col">
        <span>Telefono:</span>
        <input type="text"
          formControlName="telefono"
          class="px-3 py-1 bg-white border border-solid border-gray-300"
          
        >
      </label>
      <button type="submit" 
        class="px-6 py-3 bg-blue-600 text-white rounded hover:bg-blue-700 hover:shadow-lg active:bg-blue-800 active:shadow-lg"
      >
        Registrar
      </button>
    </form>
  </div>
  <div class="my-4 px-20 flex flex-col content-center">
    <button (click)="mostrarEstudiantes()"
      class="px-6 py-3 w-48 flex self-center bg-blue-600 text-white rounded hover:bg-blue-700 hover:shadow-lg active:bg-blue-800 active:shadow-lg"
      >
      Mostrar Estudiantes
    </button>
    <div *ngIf="mostrar">
      <ul class="flex flex-wrap mt-3">
        <li 
          *ngFor="let estudiante of estudiantes"
          class="rounded shadow bg-slate-100 px-4 mx-2 mt-2 p-2"
        >
          <p class="text-lg my-1">Nombre: {{estudiante.nombre}} {{estudiante.apellido}}</p>
          <p class="text-lg my-1">Edad: {{estudiante.edad}} años</p>
          <p class="text-lg my-1">Telefono: {{estudiante.telefono}}</p>
          <button (click)="borrar(estudiante.id)" 
            class="px-2 py-1 w-fit flex self-center bg-red-600 text-white rounded hover:bg-red-700 hover:shadow-lg active:bg-red-800 active:shadow-lg"
            >
            Borrar
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>